.host-navbar {
    display: flex;
}

.host-navbar a {
    font-weight: 500;
    color: #4D4D4D;
    text-decoration: none;
    padding: 5px 20px;
}

.host-navbar a:hover {
    font-weight: 600;
    color: #161616;
    text-decoration: underline;
}