/* Image */
img {
    display: block;
}

/* Container */
.container {
    max-width: 548px;
    margin-left: auto;
    margin-right: auto;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 110px;
    padding: 3em;
}

.header a {
    text-decoration: none;
    color: #4D4D4D;
    font-weight: 600;
    padding: 5px 20px;
}

header a:hover {
    color: #161616;
    text-decoration: underline;
}

/* Navbar */
.logo img {
    height: 40px;
}

/* .link-item {
    text-decoration: none;
    font-weight: 600;
    color: #4D4D4D;
    margin-left: 2em;
} */

/* .link-item:hover,
.link-item:focus {
    color: #161616;
} */

header a.current-page {
    font-weight: bold;
    color: #161616;
    text-decoration: underline;
}

/* Home */
.home-hero {
    background-color: #FFF7ED;
    background-image: url(/home-hero.png);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    min-height: 50vh;
    padding: 5em 1em;
}

.hero-title {
    font-size: 2.25rem;
    font-weight: 800;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.hero-text {
    font-size: 1.5rem;
    font-weight: 500;
    color: #FFFFFF;
    margin-bottom: 60px;
}

.btn {
    width: 100%;
    border-radius: 5px;
}

.btn-home {
    display: inline-block;
    padding: 1em 1.5em;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.5px;
    border: 0;
    cursor: pointer;
    background: #FF8C38;
    color: #FFFFFF;
    /* transform: scale(1);
    transition: transform 250ms; */
}

/* .btn-home:hover,
.btn-home:focus {
    transform: scale(1.1);
} */

.home-hero a {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    background-color: #FF8C38;
    border: none;
    width: 100%;
    margin-top: 27px;
    padding-block: .75rem;
    color: white;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
    transition: transform .1s ease-in-out;
}

.home-hero a:hover {
    transform: translate(1px, 1px);
}

/* About */

.about-section img {
    width: 548px;
}

.about-section h1 {
    margin-top: 30px;
}

.about-section p {
    margin-top: 30px;
}

.explore-vans {
    background: #FFCC8D;
    border-radius: 5px;
    padding: 2em;
    margin: 50px 0 40px;
}

.explore-vans p {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0;
}

.explore-vans button {
    font-weight: 700;
    border-radius: 10px;
    border: 0;
    padding: 1em 1.5em;
    background: #161616;
    color: #FFF;
    cursor: pointer;
    margin-top: 15px;
}

.link-button {
    background-color: #161616;
    color: white;
    border-radius: 10px;
    text-decoration: none;
    padding: 1em 1.5em;
}

/* Vans */
.van-container {
    display: flex;
    flex-direction: column;
}

.van-container a {
    text-decoration: none;
    color: inherit;
}

.van-img {
    width: 100%;
    height: 230px;
    border-radius: 5px;
    object-fit: cover;
}

.van-info {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 10px;
}

.van-info h3 {
    font-size: 1.25rem;
    font-weight: 600;
    margin: 0;
}

.van-price {
    font-size: 1.25rem;
    font-weight: 600;
    margin: 0;
}

.van-info span {
    display: block;
    font-size: 14px;
    font-weight: 400;
    text-align: right;
}

.van-list-container {
    padding: 20px;
}

.van-type-filter {
    display: flex;
    gap: 15px;
    margin: 30px 0;
}

.van-type-filter button {
    font-size: 1rem;
    font-weight: 500;
    border: 0;
    border-radius: 5px;
    background: #FFEAD0;
    padding: 8px 20px;
    cursor: pointer;
}

.btn-clear-filters {
    font-size: 1rem;
    font-weight: 500;
    background: transparent !important;
    text-decoration: underline;
}

.van-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin-top: 50px;
}

.van-type {
    display: inline-block;
    padding: 6px 15px;
    color: #FFF;
    border-radius: 5px;
    font-size: 14px;
    margin-top: 10px;
    text-transform: capitalize;
    width: fit-content;
}

.van-type.simple {
    background: #E17654;
}

.van-type.luxury {
    background: #161616;
}

.van-type.rugged {
    background: #115E59;
}

/* Van Detail */
.back-btn {
    font-size: 1rem;
    font-weight: 500;
    text-decoration: underline;
    align-self: flex-start;
    border: 0;
    background: 0;
    cursor: pointer;
}

.van-detail {
    display: flex;
    flex-direction: column;
    color: #161616;
    padding: 20px;
}

.van-detail img {
    height: 500px;
    border-radius: 5px;
    margin-block: 47px;
}

.van-detail h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    margin-top: 10px;
}

.van-detail i {
    align-self: flex-start;
}

.van-detail .van-price span {
    font-size: 1.5rem;
    font-weight: 700;
}

.van-price {
    margin-bottom: 15px;
}

.van-detail .link-btn {
    font-size: 1.125rem;
    border: 0;
    border-radius: 5px;
    background: #FF8C38;
    color: #FFFFFF;
    padding: 0.75em 1.5em;
    margin: 20px 0 40px;
    cursor: pointer;
}

/* Host */

.host-navbar {
    display: flex;
}

.host-navbar a {
    font-weight: 500;
    color: #4D4D4D;
    text-decoration: none;
    padding: 5px 20px;
}

.host-navbar a:hover {
    font-weight: 600;
    color: #161616;
    text-decoration: underline;
}


/* Host/Vans */
.host-van-list {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1.25rem;
}

.host-van-list h1 {
    font-size: 2rem;
    font-weight: 700;
    margin: 20px 0;
}

.host-van-link {
    text-decoration: none;
}

.host-van-link:hover .host-van-card {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.host-van-card {
    display: flex;
    gap: 1.5rem;
    background: #FFF;
    padding: 1em 1.5em;
    border-radius: 6px;
    transition: transform 0.2s, box-shadow 0.2s;
}

.host-van-card img {
    height: 65px;
    border-radius: 5px;
}

.host-name-info {
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 5px;
}

.host-name-info h3 {
    font-size: 20px;
    font-weight: 600;
    color: #161616;
}

.host-name-info p {
    font-weight: 500;
    color: #4D4D4D;
}

/* Host/Vans/:ID */

.host-van-detail-section {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 1em;
}

a.back-btn {
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    color: #161616;
    cursor: pointer;
    padding: 0;
    margin-top: 50px;
}

a.back-btn span:last-child {
    text-decoration: underline;
}

a.back-btn .arrow {
    margin-right: 5px;
}

.host-van-detail-container {
    background: #FFFFFF;
    border-radius: 5px;
}

.host-van-details {
    padding: 1.5em;
    margin-top: 50px;
}

.main-details {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.main-details img {
    height: 160px;
    border-radius: 5px;
}

.host-van-info {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.host-van-info h2 {
    font-size: 1.625rem;
    font-weight: 700;
}

.host-van-info p {
    font-size: 20px;
    font-weight: 600;
}

.host-vans-navbar {
    padding: 1em;
}

.host-vans-navbar a {
    font-weight: 500;
    color: #4D4D4D;
    text-decoration: none;
    margin-right: 20px;
}

.host-van-info {
    padding: 1em;
}

.host-van-info p {
    font-weight: 700;
}

.host-van-info span {
    font-weight: 400;
}

.host-van-info>p:nth-child(2) {
    text-transform: capitalize;
}

.host-van-pricing-info {
    padding: 1em;
}

.host-van-pricing-info p {
    font-size: 24px;
    font-weight: 700;
}

.host-van-pricing-info span {
    font-size: 16px;
    font-weight: 400;
}

.host-van-photos-info {
    padding: 1em;
}

.host-van-photos-info img {
    height: 100px;
    border-radius: 5px;
}


/* Footer */
.footer {
    background: #252525;
    text-align: center;
    color: #AAAAAA;
    padding: 26px 106px;
}