/* Image */
img {
    display: block;
}

/* Container */
.container {
    max-width: 548px;
    margin-left: auto;
    margin-right: auto;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 110px;
    padding: 3em;
}

/* Navbar */
.logo img {
    height: 40px;
}

.navbar {}

.link-item {
    text-decoration: none;
    font-weight: 600;
    color: #4D4D4D;
    margin-left: 2em;
}

.link-item:hover,
.link-item:focus {
    color: #161616;
}

.current-page {
    border-bottom: 2px solid #4D4D4D;
}

/* Home */
.home-hero {
    background-color: #FFF7ED;
    background-image: url(/home-hero.png);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    min-height: 50vh;
    padding: 5em 1em;
}

.hero-title {
    font-size: 2.25rem;
    font-weight: 800;
    color: #FFFFFF;
}

.hero-text {
    font-size: 1.5rem;
    font-weight: 500;
    color: #FFFFFF;
}

.btn {
    width: 100%;
    border-radius: 5px;
}

.btn-home {
    display: inline-block;
    padding: 1em 1.5em;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.5px;
    border: 0;
    cursor: pointer;
    background: #FF8C38;
    color: #FFFFFF;
    /* transform: scale(1);
    transition: transform 250ms; */
}

/* .btn-home:hover,
.btn-home:focus {
    transform: scale(1.1);
} */

.home-hero a {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    background-color: #FF8C38;
    border: none;
    width: 100%;
    margin-top: 27px;
    padding-block: .75rem;
    color: white;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
    transition: transform .1s ease-in-out;
}

.home-hero a:hover {
    transform: translate(1px, 1px);
}

/* About */

.about-section img {
    width: 548px;
}

.about-section h1 {
    margin-top: 30px;
}

.about-section p {
    margin-top: 30px;
}

.explore-vans {
    background: #FFCC8D;
    border-radius: 5px;
    padding: 2em;
    margin: 50px 0 40px;
}

.explore-vans p {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0;
}

.explore-vans button {
    font-weight: 700;
    border-radius: 10px;
    border: 0;
    padding: 1em 1.5em;
    background: #161616;
    color: #FFF;
    cursor: pointer;
    margin-top: 15px;
}

.link-button {
    background-color: #161616;
    color: white;
    border-radius: 10px;
    text-decoration: none;
    padding: 1em 1.5em;
}

/* Vans */
.van-container {
    display: flex;
    flex-direction: column;
}

.van-img {
    width: 100%;
    height: 230px;
    border-radius: 5px;
    object-fit: cover;
}

.van-info {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 10px;
}

.van-info h3 {
    font-size: 1.25rem;
    font-weight: 600;
    margin: 0;
}

.van-price {
    font-size: 1.25rem;
    font-weight: 600;
    margin: 0;
}

.van-info span {
    display: block;
    font-size: 14px;
    font-weight: 400;
    text-align: right;
}

.van-list-container {
    padding: 20px;
}

.van-type-filter {
    display: flex;
    gap: 15px;
    margin: 30px 0;
}

.van-type-filter button {
    font-size: 1rem;
    font-weight: 500;
    border: 0;
    border-radius: 5px;
    background: #FFEAD0;
    padding: 8px 20px;
    cursor: pointer;
}

.btn-clear-filters {
    font-size: 1rem;
    font-weight: 500;
    background: transparent !important;
    text-decoration: underline;
}

.van-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin-top: 50px;
}

.van-type {
    display: inline-block;
    padding: 6px 15px;
    color: #FFF;
    border-radius: 5px;
    font-size: 14px;
    margin-top: 10px;
    text-transform: capitalize;
    width: fit-content;
}

.van-type.simple {
    background: #E17654;
}

.van-type.luxury {
    background: #161616;
}

.van-type.rugged {
    background: #115E59;
}

/* Footer */
.footer {
    background: #252525;
    text-align: center;
    color: #AAAAAA;
    padding: 26px 106px;
}